################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreProject/bin/Debug/net5.0
/BookStoreProject/.vs/BookStoreProject
/BookStoreProject/obj
